<%= javascript_include_tag 'index.global.min.js', plugin: :ticket_calendar %>
<%= javascript_include_tag 'ticket_calender_helper.js', plugin: :ticket_calendar %>
<%= javascript_include_tag 'calender_helper.js', plugin: :ticket_calendar %>
<%= stylesheet_link_tag 'ticket_calender.css', plugin: :ticket_calendar %>
<div style="display: flex; flex-wrap: wrap; align-items: center;">
  <select id="view-selector">
    <option value="multiMonthYear">Multi Month Year</option>
    <option value="timeGridWeek">Time Grid Week</option>
    <option value="listDay">List Day</option>
    <option value="listWeek">List Week</option>
    <option value="listMonth">List Month</option>
    <option value="listYear">List Year</option>
    <option value="dayGridMonth">Day Grid Month</option>
    <option value="dayGridWeek">Day Grid Week</option>
    <option value="dayGridDay">Day Grid Day</option>
  </select>
  status
  <% IssueStatus.all.each do |status| %>
    <div style="margin-right: 10px;">
      <%= check_box_tag 'status_ids[]', status.id, (params[:status_ids] || IssueStatus.where(is_closed: false).pluck(:id)).include?(status.id), id: "status_ids_#{status.id}", class: 'status-checkbox' %>
      <%= label_tag "status_ids_#{status.id}", status.name, class: "status_ids" %>
    </div>
  <% end %>
  <%= check_box_tag 'milestone', 1, 0, id: 'milestone-checkbox', class: 'milestone-checkbox' %>
  <%= label_tag 'milestone', 'Milestone' %>
</div>
<div id='calendar'></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  var project_id = "<%= @project.id %>";
    const options = {
      project_id: project_id,
      milestoneCheckbox: "milestone-checkbox",
      statusCheckboxes: ".status-checkbox",
      calendar: "calendar",
      viewChange: "view-selector",
    };
    new CalendarHelper(options);
  });
</script>
